.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  padding-left: 20px;
  padding-right: 20px;
  opacity: 0;
  transition: visibility 0s linear 0.4s, opacity 0.4s linear;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.modal__container_type_delete_confirmation {
  position: relative;
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 1);
  border-radius: 20px;
  padding: 60px 60px;
  max-width: 670px;
  width: 100%;
  align-items: center;
  justify-content: center;

  text-align: center;
}

.modal__close-btn {
  position: absolute;
  top: 20px;
  right: 28px;
  width: 20px;
  height: 20px;
  background: transparent url("../../assets/close-icon.svg") center no-repeat;
  opacity: 0.3;
  object-fit: cover;
  border: none;
  padding: 0;
}

.modal__close-btn:hover {
  opacity: 1;
}

.modal__title_type_delete-confirmation {
  margin: 0 0 40px;
  max-width: 367px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
}

.modal__delete-btn_type_confirmation {
  color: rgba(255, 77, 0, 1);
  border: none;
  background: transparent;
  position: unset;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  margin: 0 0 24px;
}

.modal__cancel-btn {
  border: none;
  background: transparent;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  padding: 0;
}

@media screen and (max-width: 725px) {
  .modal {
    padding-left: 16px;
    padding-right: 16px;
  }
}
