.profile {
  display: flex;
  margin-top: 35px;
}

.profile__sidebar {
  width: 25%;
}

.profile__divider {
  display: none;
}

.profile__clothes-section {
  width: 75%;
}

@media screen and (max-width: 725px) {
  .profile {
    margin-top: 20px;
    flex-direction: column;
  }

  .profile__sidebar {
    width: 100%;
  }

  .profile__sidebar-hidden {
    display: none;
  }

  .profile__clothes-section {
    width: 100%;
  }
}
