.randomize {
  display: none;
}

.randomize__btn {
  display: none;
}

.randomize__icon {
  display: none;
}

@media screen and (max-width: 725px) {
  .randomize {
    width: 100%;
    padding: 20px 0 0;
    display: block;
  }

  .randomize__btn {
    width: 100%;
    padding: 12px 0 12px;
    background: rgba(0, 0, 0, 1);
    color: rgba(255, 255, 255, 1);
    border-radius: 4px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .randomize__btn:hover {
    background-color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
  }

  .randomize__icon {
    margin-right: 8px;
    display: block;
  }
}
