.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 28px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  box-sizing: border-box;
  max-width: 100%;
  position: relative;
  padding: 0;
}

.header__hidden {
  display: none;
}

.header__logo:hover {
  opacity: 0.7;
}

.header__date-and-location {
  margin: 0 0 0 24px;
}

.header__toggle-switch {
  margin-left: auto;
  margin-right: 20px;
}

.header__add-clothes-btn {
  margin-left: 0;
  border: none;
  padding: 0;
  margin-right: 20px;
  background-color: transparent;
}

.header__add-clothes-btn:hover {
  cursor: pointer;
  opacity: 0.7;
}

.header__mobile-menu-btn {
  display: none;
}

.header__link {
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
}

.header__link:hover {
  color: rgba(0, 0, 0, 0.7);
}

.header__user-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header__user-name {
  margin: 0;
}

@media screen and (max-width: 725px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    width: 100%;
  }

  .header__profile {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0;
    align-items: center;
  }

  .header__date-and-location {
    margin: 0;
    padding: 32px 0 16px;
  }

  .header__add-clothes-btn {
    margin: 0;
    display: none;
  }

  .header__user-container {
    display: none;
  }

  .header__profile .header__date-and-location {
    margin-left: 12px;
    padding: 0;
    font-size: 16px;
    line-height: 1.2;
  }

  .header__mobile-menu_active {
    background: rgba(255, 255, 255, 1) center no-repeat;
    width: 85vw;
    height: 208px;
    border-radius: 10px;
    padding: 40px 0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
  }

  .header__mobile-close-btn {
    position: absolute;
    top: 11px;
    right: 11px;
    display: block;
    background: transparent url(../../assets/close-icon.svg) no-repeat center;
    width: 21px;
    height: 21px;
    border: none;
    padding: 0;
  }

  .header__mobile-user-container {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
  }

  .header__mobile-user-name {
    margin: 0 12px 0 0;
    font-weight: 700;
  }

  .header__mobile-close-btn:hover {
    cursor: pointer;
    opacity: 0.7;
  }

  .header__mobile-menu-btn {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    background: rgba(255, 255, 255, 1) url(../../assets/mobile-menu-btn.svg)
      no-repeat center;
    width: 44px;
    height: 44px;
    border: none;
    padding: 0;
    margin: 0;
    border-radius: 10px;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
  }

  .header__mobile-menu-btn:hover {
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }

  .header__mobile-link {
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
  }

  .header__mobile-link:hover {
    cursor: pointer;
    opacity: 0.7;
  }

  .header__mobile-add-clothes-btn {
    padding: 0;
    border: none;
    background: transparent;
    font-weight: 700;
    margin-bottom: 24px;
  }

  .header__mobile-add-clothes-btn:hover {
    cursor: pointer;
    opacity: 0.7;
  }
}
