.sidebar {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.sidebar__hidden {
  display: none;
}

.sidebar__user-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.sidebar__user-avatar {
  width: 56px;
  height: 56px;
  object-fit: contain;
}

.sidebar__user-avatar-placeholder {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 1);
  margin: 0;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
}

.sidebar__user-name {
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
  margin: 0;
}

.sidebar__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 8px;
}

.sidebar__item {
  list-style-type: none;
}

.sidebar__btn {
  border: none;
  background: transparent;
  padding: 0;
}

.sidebar__btn:hover {
  opacity: 0.7;
}

@media screen and (max-width: 725px) {
  .sidebar {
    padding: 20px 0;
    margin: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  }

  .sidebar__hidden {
    display: none;
  }

  .sidebar__user-name {
    margin-bottom: 12px;
  }

  .sidebar__mobile {
    display: flex;
    flex-direction: column;
  }

  .sidebar__mobile-btns {
    display: flex;
    justify-content: flex-start;
    border: none;
    color: rgba(0, 0, 0, 0.6);
    font-size: 20px;
    background: transparent;
    padding: 0;
    margin-bottom: 8px;
  }

  .sidebar__mobile-btns:last-of-type {
    margin-bottom: 0;
  }
}
