.footer {
  display: flex;
  justify-content: space-between;
  padding: 16px 0 0;
}

.footer__author {
  margin: 0;
}

.footer__year {
  margin: 0;
}

@media screen and (max-width: 725px) {
  .footer {
    padding: 16px 0 0;
  }
}
